
body {
  background-color: #ed0003;
}

#board {
  top: 80px;
  left: 60px;
  width: 1760px;
  height: 800px;
  border: 1px solid rgb(199,36,177);
  background-color: rgb(0, 0, 0);
  position: relative;
}

#ball {
  background-color: rgb(103, 15, 145);
  width: 50px;
  height: 50px;
  position: absolute;
   left: 390px;   /* Uncomment if you want to set a "starting" position */
   top: 0px;    /* Uncomment if you want to set a "starting" position */
}

.paddles {
  background-color: rgb(68,214,44);
  height: 330px;
  width: 50px;
  top: 255px;
  position: absolute;
  left: 20px;
  visibility: hidden;
  
}

#paddle1 {
  left: 20px;
  visibility: visible
}

#paddle2 {
  left: 1690px;
  visibility: visible
}

.score {
  font-family: 'Public Pixel', sans-serif;
  color: white;
  position: absolute;
  top: 20px;
}
#scoreRight {
  right: 20px;
}

h1 {
  position:absolute;
  top: 0px;
  left: 45%;
  color: white;
  font-family: 'Public Pixel', sans-serif;
  font-size: 45px;
}